h1 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

p {
  margin: 2rem 0;
}

.emailLink {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #373737;
}

.emailLink:hover {
  letter-spacing: 2px;
  color: #ac827c;
}

.socialLink {
  text-decoration: none;
  color: #373737;
}

.socialLink:hover {
  color: #ac827c;
}

.linkSpacer {
  color: #5c6a66;
  font-weight: 600;
  font-size: 1.4rem;
}

.scrollingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 150px;
  opacity: 0;
  -webkit-transition: opacity 0.5s 0.05s ease-out;
  transition: opacity 0.5s 0.05s ease-out;
}

.scrollingContainer.is-visible {
  opacity: 1;
}

.is-visible .scroll-text {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.scroll-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 4s 0.05s cubic-bezier(0, 1, 0.3, 1);
  transition: -webkit-transform 4s 0.05s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 4s 0.05s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 4s 0.05s cubic-bezier(0, 1, 0.3, 1), -webkit-transform 4s 0.05s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform;
  margin: 0;
}

.boldText {
  font-size: 1.1rem;
  color: #5c6a66;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

@media (min-width: 480px) {
  h1 {
    font-size: 3rem;
  }
  .boldText {
    font-size: 1.2rem;
  }
  .is-visible .scroll-text {
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
  }
}

@media (min-width: 785px) {
  h1 {
    font-size: 4rem;
  }
  .is-visible .scroll-text {
    -webkit-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 4.5rem;
  }
}

body {
  margin: 0;
  font-family: "montserrat", sans-serif;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding: 0;
}

#section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 100vh;
}

.pageContent {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.container1,
.container2,
.container3 {
  padding: 0 2rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 650px;
}

.container1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.text-container {
  max-width: 550px;
  margin: 0 auto;
}

@media (min-width: 785px) {
  .container2 {
    min-height: 900px;
  }
  .container3 {
    min-height: 100vh;
  }
}

.hamburgerButton {
  padding: 16px 10px;
  z-index: 10;
}

.hamburgerButton:hover {
  cursor: pointer;
}

.hamburgerIcon {
  font-size: 1.5rem;
}

.navbar {
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.socials {
  display: none;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  padding: 4rem 0;
}

.navigation__menu--link {
  list-style: none;
  font-size: 1.05rem;
  padding: 20px;
}

.navigation__menu--link a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #373737;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px 50px;
}

.navigation__menu--link a:hover {
  color: #ac827c;
}

.navigation__menu--link a.current {
  -webkit-text-decoration: 4px line-through;
          text-decoration: 4px line-through;
  -webkit-text-decoration-color: #ac827c;
          text-decoration-color: #ac827c;
}

.navigation__menu--link a.currentWork {
  -webkit-text-decoration: 4px line-through;
          text-decoration: 4px line-through;
  -webkit-text-decoration-color: #5c6a66;
          text-decoration-color: #5c6a66;
}

.logo-container {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 20;
}

.logo {
  width: 100px;
}

@media (min-width: 785px) {
  .hamburgerButton {
    display: none;
  }
  .navbar {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 0;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 50px;
    padding: 0 10px;
  }
  .navigation a {
    text-decoration: none;
  }
  .navigation__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    background-color: #ac827c;
    width: 4px;
    height: 100%;
    margin-right: 18px;
    margin-top: 0;
    margin-left: 0;
  }
  .navigation__menu {
    display: block;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0;
    -webkit-margin-before: 0;
            margin-block-start: 0;
  }
  .navigation__menu--link {
    height: 45px;
    padding: 15px 0;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    text-align: center;
  }
  .socials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 15px 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: 20px;
  }
  .socials__link {
    font-size: 1.4rem;
  }
  .logo,
  .logo-container {
    width: 120px;
  }
}

.a-replacement {
  display: inline-block;
  width: 34px;
  height: 30px;
  background-image: url("../../images/icon-pink.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.largeNavigation {
  margin-bottom: 4rem;
}

.largeNavigation__menu {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  overflow: hidden;
}

.largeNavigation__menu--link {
  list-style: none;
  font-size: 2.5rem;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
  opacity: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: opacity 1.5s, -webkit-transform 1.5s;
  transition: transform 1.5s, opacity 1.5s;
  transition: transform 1.5s, opacity 1.5s, -webkit-transform 1.5s;
  will-change: transform, opacity;
}

.largeNavigation__menu--link.is-visible {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.largeNavigation__menu--link a {
  text-decoration: none;
  color: #ac827c;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

.largeNavigation__menu--link a:hover {
  color: #ac827c;
  letter-spacing: 2px;
}

.largeNavigation__menu--link a:hover > .a-replacement {
  background-image: none;
}

.largeNavigation__menu--link a:hover > .a-replacement::after {
  content: "A";
}

@media (min-width: 480px) {
  .a-replacement {
    width: 45px;
    height: 40px;
  }
  .largeNavigation__menu--link {
    font-size: 3.5rem;
  }
}

@media (min-width: 785px) {
  .a-replacement {
    width: 65px;
    height: 56px;
  }
  .largeNavigation__menu--link {
    font-size: 5rem;
  }
}

.image-container {
  position: relative;
  margin: 2rem auto 2rem auto;
  width: 225px;
  height: 300px;
}

.work-image-container {
  position: relative;
  margin: 2rem auto 2rem auto;
  max-width: 500px;
  height: 10px;
}

.image-border {
  position: absolute;
  border: 6px solid #5c6a66;
  height: 180px;
  width: 180px;
  z-index: 2;
  top: 3rem;
  left: 0;
}

.self-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 4.5rem;
  left: 1.5rem;
}

.self-img-1 {
  background-image: url("../../images/selfImages/self-img-1.jpg");
}

.about-img-2 {
  background-image: url("../../images/selfImages/self-img-2.jpg");
}

.about-img-1 {
  background-image: url("../../images/selfImages/self-img-4.jpg");
}

.work-image {
  width: 300px;
  margin: 0 auto;
}

.is-visible .scroll-image {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.scroll-image {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 4s 0.15s cubic-bezier(0, 1, 0.3, 1);
  transition: -webkit-transform 4s 0.15s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 4s 0.15s cubic-bezier(0, 1, 0.3, 1);
  transition: transform 4s 0.15s cubic-bezier(0, 1, 0.3, 1), -webkit-transform 4s 0.15s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform;
  margin: 0;
}

@media (min-width: 480px) {
  .work-image {
    width: 400px;
  }
}

@media (min-width: 785px) {
  .work-image {
    width: 500px;
  }
  .is-visible .scroll-image {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}

.buttonContainer {
  margin: 6rem 0;
}

.ctaButton {
  display: block;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: #e8e8e8;
  background-color: #5c6a66;
  padding: 10px 0;
  margin: 2rem auto;
  border-radius: 50px;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
}

.ctaButton:hover {
  background-color: #373737;
}

.likes-animation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.likes-animation-container p {
  margin-bottom: 5px;
}

.likes-carousel {
  overflow: hidden;
  display: inline-block;
  height: 27px;
  margin-left: 0;
}

.carousel-inner {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
}

@-webkit-keyframes scroll {
  0%,
  12% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  14%,
  24% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  27%,
  48% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50%,
  60% {
    -webkit-transform: translateY(-74px);
            transform: translateY(-74px);
  }
  62%,
  72% {
    -webkit-transform: translateY(-99px);
            transform: translateY(-99px);
  }
  74%,
  84% {
    -webkit-transform: translateY(-125px);
            transform: translateY(-125px);
  }
  86%,
  100% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
}

@keyframes scroll {
  0%,
  12% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  14%,
  24% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  27%,
  48% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50%,
  60% {
    -webkit-transform: translateY(-74px);
            transform: translateY(-74px);
  }
  62%,
  72% {
    -webkit-transform: translateY(-99px);
            transform: translateY(-99px);
  }
  74%,
  84% {
    -webkit-transform: translateY(-125px);
            transform: translateY(-125px);
  }
  86%,
  100% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
}
/*# sourceMappingURL=style.css.map */