h1 {
  font-family: "Lato", sans-serif;
  font-size: 5rem;
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 5rem;
  }
}

@media (min-width: 1281px) {
  h1 {
    font-size: 6rem;
  }
}

body {
  margin: 0;
  font-family: "montserrat", sans-serif;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding: 10px 0;
}

#section1,
#section2 {
  height: 100vh;
}

.pageContent {
  position: relative;
  width: 100%;
}

.container {
  padding: 8rem 2rem 4rem 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.text-container {
  max-width: 500px;
  margin: 4rem auto;
}

@media (min-width: 768px) {
  .container {
    padding: 5rem;
  }
}

.hamburgerButton {
  padding: 0 0 0 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 10;
}

.hamburgerButton:hover {
  cursor: pointer;
}

.hamburgerIcon {
  font-size: 1.5rem;
}

.hamburgerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.desktopNav {
  display: none;
}

.navigation {
  position: fixed;
  top: 55px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 10;
}

.navigation__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 4px;
  margin-top: 30px;
  margin-left: -5px;
}

.socials {
  display: none;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1rem;
  padding: 4px;
  z-index: 99;
}

.navigation__menu--link {
  list-style: none;
  font-size: 1.05rem;
  padding: 0 10px;
}

.navigation__menu--link a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #373737;
  text-transform: uppercase;
  font-weight: 600;
}

.navigation__menu--link a:hover {
  color: #ac827c;
}

.navigation__menu--link a.current {
  -webkit-text-decoration: 4px line-through;
          text-decoration: 4px line-through;
  -webkit-text-decoration-color: #ac827c;
          text-decoration-color: #ac827c;
}

.navigation__menu--link a.currentWork {
  -webkit-text-decoration: 4px line-through;
          text-decoration: 4px line-through;
  -webkit-text-decoration-color: #5c6a66;
          text-decoration-color: #5c6a66;
}

.logo-container {
  width: 100px;
  margin: 0 auto;
}

.logo {
  width: 100px;
}

@media (min-width: 768px) {
  .hamburgerButton,
  .hamburgerNav {
    display: none;
  }
  .desktopNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 50px;
    padding: 0 10px;
  }
  .navigation a {
    text-decoration: none;
  }
  .navigation__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    background-color: #ac827c;
    width: 4px;
    height: 100%;
    margin-right: 18px;
    margin-top: 0;
    margin-left: 0;
  }
  .navigation__menu {
    display: block;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    position: relative;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0;
    -webkit-margin-before: 0;
            margin-block-start: 0;
  }
  .navigation__menu--link {
    height: 45px;
    padding: 15px 0;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    text-align: center;
  }
  .socials {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 15px 10px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: 20px;
  }
  .socials__link {
    font-size: 1.4rem;
  }
  .logo-container {
    width: 150px;
  }
  .logo {
    width: 150px;
  }
}

.a-replacement {
  display: inline-block;
  width: 46px;
  height: 46px;
  background-image: url("../../images/icon-pink.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.largeNavigation {
  margin: 10rem auto;
}

.largeNavigation__menu {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.largeNavigation__menu--link {
  list-style: none;
  font-size: 4rem;
  padding-bottom: 30px;
  text-align: center;
  position: relative;
}

.largeNavigation__menu--link a {
  text-decoration: none;
  color: #ac827c;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

.largeNavigation__menu--link a:hover {
  color: #ac827c;
  letter-spacing: 4px;
}

.largeNavigation__menu--link a:hover > .a-replacement {
  background-image: none;
}

.largeNavigation__menu--link a:hover > .a-replacement::after {
  content: "A";
}

@media (min-width: 768px) {
  .a-replacement {
    width: 70px;
    height: 70px;
  }
  .largeNavigation__menu--link {
    font-size: 6rem;
  }
  .a-replacement {
    width: 58px;
  }
}

@media (min-width: 1025px) {
  .largeNavigation {
    min-width: 535px;
  }
}

@media (min-width: 1281px) {
  .a-replacement {
    width: 80px;
    height: 80px;
  }
  .largeNavigation {
    width: 660px;
  }
  .largeNavigation__menu--link {
    font-size: 7rem;
  }
}

.image-container {
  position: relative;
  margin: 10rem auto 4rem auto;
  width: 225px;
  height: 225px;
}

.image-border {
  position: absolute;
  border: 6px solid #ac827c;
  height: 180px;
  width: 180px;
  z-index: 2;
}

.self-img {
  background-image: url("../../images/self-image.jpg");
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}
/*# sourceMappingURL=style.css.map */