body {
  background-color: #373737;
  color: #e8e8e8;
}

.hamburgerNav {
  background-color: #373737;
}
.hamburgerButton {
  background-color: #373737;
  color: #ac827c;
}
.navigation__line {
  background-color: #ac827c;
}
.navigation__menu--link a,
.socials__link {
  color: #e8e8e8;
}
.navigation__menu--link a:hover,
.socials__link:hover {
  color: #ac827c;
}

@media (max-width: 785px) {
  header {
    background-color: #373737;
  }
}
