body {
  margin: 0;
  font-family: $font-primary;
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding: 10px 0;
}
#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.pageContent {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.container1,
.container2 {
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 650px;
}
.container1 {
  justify-content: center;
}
.container2 {
  justify-content: flex-start;
}
.text-container {
  max-width: 500px;
  margin: 2rem auto;
}
