.buttonContainer {
  margin: 6rem 0;
}
.ctaButton {
  display: block;
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: $colour-background-light;
  background-color: $colour-teriary;
  padding: 10px 0;
  margin: 2rem auto;
  border-radius: 50px;
  font-family: $font-headings;
  font-size: 1.1rem;
  text-decoration: none;
  &:hover {
    background-color: $colour-secondary;
  }
}
.goBack-link {
  text-decoration: none;
  color: $colour-secondary;
  display: flex;
  align-items: center;
}
.goBack-link:hover {
  letter-spacing: 1px;
}
.backArrow {
  display: inline-block;
  width: 24px;
  height: 20px;
  background-image: url("../../images/icon-pink.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(270deg);
  filter: invert(75%);
}