.image-container {
  position: relative;
  margin: 2rem auto 2rem auto;
  width: 225px;
  height: 300px;
}

.work-image-container {
  position: relative;
  margin: 2rem auto 2rem auto;
  max-width: 500px;
  height: 10px;
}

.image-border {
  position: absolute;
  border: 6px solid $colour-primary;
  height: 180px;
  width: 180px;
  z-index: 2;
  top: 3rem;
  left: 0;
}
.self-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 4.5rem;
  left: 1.5rem;
}

.home-img,
.about-img-2 {
  background-image: url("../../images/self-image.jpg");
}
.about-img-1 {
  background-image: url("../../images/38404952_10156530398734084_4630650038500982784_n.jpg");
}

.work-image {
  width: 300px;
  margin: 0 auto;
}

.is-visible .scroll-image {
  transform: translateY(-50%);
}

.scroll-image {
  transform: translateY(0);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform;
  margin: 0;
}

@include for-large-mobile {
  .work-image {
    width: 400px;
  }
}

@include for-tablet {
  .work-image {
    width: 500px;
  }
  .is-visible .scroll-image {
    transform: translateY(-25%);
  }
}
