.a-replacement {
  display: inline-block;
  width: 34px;
  height: 30px;
  background-image: url("../../images/icon-pink.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.largeNavigation {
  margin-bottom: 4rem;
  &__menu {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    overflow: hidden;
    &--link {
      list-style: none;
      font-size: 2.5rem;
      padding-bottom: 30px;
      text-align: center;
      position: relative;
      opacity: 0;
      transform: translateX(200%);
      transition: transform 1.5s, opacity 1.5s;
      will-change: transform, opacity;

      &.is-visible {
        opacity: 1;
        transform: translateX(0%);
      }

      & a {
        text-decoration: none;
        color: $colour-primary;
        text-transform: uppercase;
        font-family: $font-headings;

        &:hover {
          color: $colour-primary;
          letter-spacing: 2px;
        }
        &:hover > .a-replacement {
          background-image: none;
        }
        &:hover > .a-replacement::after {
          content: "A";
        }
      }
    }
  }
}

@include for-large-mobile {
  .a-replacement {
    width: 45px;
    height: 40px;
  }
  .largeNavigation {
    &__menu {
      &--link {
        font-size: 3.5rem;
      }
    }
  }
}

@include for-tablet {
  .a-replacement {
    width: 50px;
    height: 46px;
  }
  .largeNavigation {
    &__menu {
      &--link {
        font-size: 4rem;
      }
    }
  }
}
