.header__logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  z-index: 20;
  &:hover {
    cursor: pointer;
  }
  &__image {
    width: 100px;
  }
}

.navbar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  min-height: 58px;
  width: 100%;
  padding: 0;
  align-items: center;
  &--container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__hamburger {
    &--label {
      position: absolute;
      top: 10px;
      left: 0;
      width: 35px;
      height: 100%;
      font-size: 1.5rem;
      &:hover {
        cursor: pointer;
      }
    }
    &--icon {
      padding: 10px;
    }
  }
  &__nav {
    height: 100vh;
    width: 100%;
    &__list {
      padding: 0;
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 72%;
      &--link {
        display: block;
        margin: 30px 0;
        text-align: center;
        font-size: 1.05rem;
        padding: 20px;
        & a {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          padding: 20px 50px;
          text-align: center;
          &:hover {
            cursor: pointer;
            text-decoration: 2px underline;
            text-decoration-color: $colour-primary;
            text-underline-offset: 4px;
          }
          &.current {
            text-decoration: 4px line-through;
            text-decoration-color: $colour-primary;
          }
          &.currentWork {
            text-decoration: 4px line-through;
            text-decoration-color: $colour-teriary;
          }
        }
      }
    }
  }
  &__socials {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    margin: 30px;
    &--link {
      font-size: 1.4rem;
      padding: 10px;
      text-decoration: none;
      color: $colour-secondary;
      &:hover {
        cursor: pointer;
        color: $colour-primary;
      }
    }
  }
}

#navbar__hamburger,
.navbar__nav,
.desktopSocials {
  display: none;
}

#navbar__hamburger:checked ~ .navbar__nav {
  display: block;
}

@include for-tablet {
  .navbar {
    &__hamburger {
      &--label {
        display: none;
      }
    }
    &__nav {
      display: block;
      height: auto;
      &__list {
        margin-top: 0;
        flex-direction: row;
        justify-content: flex-start;
        height: auto;
        margin-block-end: 0;
        &--link {
          margin: 0;
          text-align: left;
          font-size: 0.9rem;
          padding: 20px 0;
          & a {
            padding: 20px;
            text-align: left;
            &.current {
              text-decoration: 3px line-through;
              text-decoration-color: $colour-primary;
            }
            &.currentWork {
              text-decoration: 3px line-through;
              text-decoration-color: $colour-teriary;
            }
          }
        }
      }
    }
    &__socials {
      display: none;
    }
  }

  .desktopSocials {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    left: 10px;
    &--link {
      font-size: 1.4rem;
      padding: 10px;
      text-decoration: none;
      color: $colour-secondary;
      &:hover {
        cursor: pointer;
        color: $colour-primary;
      }
    }
  }
}
