.likes-animation-container {
  display: flex;
  flex-wrap: wrap;
}
.likes-animation-container p {
  margin-bottom: 5px;
}
.likes-carousel {
  overflow: hidden;
  display: inline-block;
  height: 27px;
  margin-left: 0;
}
.carousel-inner {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0%,
  12% {
    transform: translateY(0);
  }
  14%,
  24% {
    transform: translateY(-25px);
  }
  27%,
  48% {
    transform: translateY(-50px);
  }
  50%,
  60% {
    transform: translateY(-74px);
  }
  62%,
  72% {
    transform: translateY(-99px);
  }
  74%,
  84% {
    transform: translateY(-125px);
  }
  86%,
  100% {
    transform: translateY(-150px);
  }
}
