//colours
$colour-primary: #ac827c;
$colour-secondary: #373737;
$colour-teriary: #5c6a66;
$colour-background-light: #e8e8e8;
$colour-background-med: #c3cbc9;

//body text colour
$body-text-light: $colour-background-light;
$body-text-dark: $colour-secondary;

//fonts
$font-primary: "montserrat", sans-serif;
$font-headings: "Lato", sans-serif;

//screen sizes
$large-mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1025px;
$xlarge-desktop-width: 1281px;
$xxlarge-desktop-width: 1481px;
